################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.exe
*.user
*.csproj
*.ide-wal
*.ide-shm
*.ide
*.lock
*.pdb
/lab1/lab1/bin/Debug/lab1.exe.config
/lab1/lab1/obj/Debug
/lab1/lab1/obj/Release
/lab1/lab1/Properties
/lab0/lab0/obj/Debug
/lab0/lab0/bin/Debug
/lab0/.vs/lab0/v15/.suo
/lab0/lab0/Properties/AssemblyInfo.cs
/lab1/lab1/bin/Debug/file2.txt
/lab1/lab1/bin/Debug/file1.txt
/lab1/lab1/bin/Debug/text2.txt
/lab1/lab1/bin/Debug/text1.txt
/lab1/lab1/bin/Debug/image2.JPG
/lab1/lab1/bin/Debug/image1.JPG
/lab1/packages/CommandLineParser.2.4.3
/lab1/lab1/bin/Debug/System.Xml.XPath.XDocument.dll
/lab1/lab1/bin/Debug/System.Xml.XPath.dll
/lab1/lab1/bin/Debug/System.Xml.XmlSerializer.dll
/lab1/lab1/bin/Debug/System.Xml.XmlDocument.dll
/lab1/lab1/bin/Debug/System.Xml.XDocument.dll
/lab1/lab1/bin/Debug/System.Xml.ReaderWriter.dll
/lab1/lab1/bin/Debug/System.ValueTuple.dll
/lab1/lab1/bin/Debug/System.Threading.Timer.dll
/lab1/lab1/bin/Debug/System.Threading.ThreadPool.dll
/lab1/lab1/bin/Debug/System.Threading.Thread.dll
/lab1/lab1/bin/Debug/System.Threading.Tasks.Parallel.dll
/lab1/lab1/bin/Debug/System.Threading.Tasks.dll
/lab1/lab1/bin/Debug/System.Threading.Overlapped.dll
/lab1/lab1/bin/Debug/System.Threading.dll
/lab1/lab1/bin/Debug/System.Text.RegularExpressions.dll
/lab1/lab1/bin/Debug/System.Text.Encoding.Extensions.dll
/lab1/lab1/bin/Debug/System.Text.Encoding.dll
/lab1/lab1/bin/Debug/System.Security.SecureString.dll
/lab1/lab1/bin/Debug/System.Security.Principal.dll
/lab1/lab1/bin/Debug/System.Security.Cryptography.X509Certificates.dll
/lab1/lab1/bin/Debug/System.Security.Cryptography.Primitives.dll
/lab1/lab1/bin/Debug/System.Security.Cryptography.Encoding.dll
/lab1/lab1/bin/Debug/System.Security.Cryptography.Csp.dll
/lab1/lab1/bin/Debug/System.Security.Cryptography.Algorithms.dll
/lab1/lab1/bin/Debug/System.Security.Claims.dll
/lab1/lab1/bin/Debug/System.Runtime.Serialization.Xml.dll
/lab1/lab1/bin/Debug/System.Runtime.Serialization.Primitives.dll
/lab1/lab1/bin/Debug/System.Runtime.Serialization.Json.dll
/lab1/lab1/bin/Debug/System.Runtime.Serialization.Formatters.dll
/lab1/lab1/bin/Debug/System.Runtime.Numerics.dll
/lab1/lab1/bin/Debug/System.Runtime.InteropServices.RuntimeInformation.dll
/lab1/lab1/bin/Debug/System.Runtime.InteropServices.dll
/lab1/lab1/bin/Debug/System.Runtime.Handles.dll
/lab1/lab1/bin/Debug/System.Runtime.Extensions.dll
/lab1/lab1/bin/Debug/System.Runtime.dll
/lab1/lab1/bin/Debug/System.Runtime.CompilerServices.VisualC.dll
/lab1/lab1/bin/Debug/System.Resources.Writer.dll
/lab1/lab1/bin/Debug/System.Resources.ResourceManager.dll
/lab1/lab1/bin/Debug/System.Resources.Reader.dll
/lab1/lab1/bin/Debug/System.Reflection.Primitives.dll
/lab1/lab1/bin/Debug/System.Reflection.Extensions.dll
/lab1/lab1/bin/Debug/System.Reflection.dll
/lab1/lab1/bin/Debug/System.ObjectModel.dll
/lab1/lab1/bin/Debug/System.Net.WebSockets.dll
/lab1/lab1/bin/Debug/System.Net.WebSockets.Client.dll
/lab1/lab1/bin/Debug/System.Net.WebHeaderCollection.dll
/lab1/lab1/bin/Debug/System.Net.Sockets.dll
/lab1/lab1/bin/Debug/System.Net.Security.dll
/lab1/lab1/bin/Debug/System.Net.Requests.dll
/lab1/lab1/bin/Debug/System.Net.Primitives.dll
/lab1/lab1/bin/Debug/System.Net.Ping.dll
/lab1/lab1/bin/Debug/System.Net.NetworkInformation.dll
/lab1/lab1/bin/Debug/System.Net.NameResolution.dll
/lab1/lab1/bin/Debug/System.Net.Http.dll
/lab1/lab1/bin/Debug/System.Linq.Queryable.dll
/lab1/lab1/bin/Debug/System.Linq.Parallel.dll
/lab1/lab1/bin/Debug/System.Linq.Expressions.dll
/lab1/lab1/bin/Debug/System.Linq.dll
/lab1/lab1/bin/Debug/System.IO.UnmanagedMemoryStream.dll
/lab1/lab1/bin/Debug/System.IO.Pipes.dll
/lab1/lab1/bin/Debug/System.IO.MemoryMappedFiles.dll
/lab1/lab1/bin/Debug/System.IO.IsolatedStorage.dll
/lab1/lab1/bin/Debug/System.IO.FileSystem.Watcher.dll
/lab1/lab1/bin/Debug/System.IO.FileSystem.Primitives.dll
/lab1/lab1/bin/Debug/System.IO.FileSystem.DriveInfo.dll
/lab1/lab1/bin/Debug/System.IO.FileSystem.dll
/lab1/lab1/bin/Debug/System.IO.dll
/lab1/lab1/bin/Debug/System.IO.Compression.ZipFile.dll
/lab1/lab1/bin/Debug/System.IO.Compression.dll
/lab1/lab1/bin/Debug/System.Globalization.Extensions.dll
/lab1/lab1/bin/Debug/System.Globalization.dll
/lab1/lab1/bin/Debug/System.Globalization.Calendars.dll
/lab1/lab1/bin/Debug/System.Dynamic.Runtime.dll
/lab1/lab1/bin/Debug/System.Drawing.Primitives.dll
/lab1/lab1/bin/Debug/System.Diagnostics.Tracing.dll
/lab1/lab1/bin/Debug/System.Diagnostics.TraceSource.dll
/lab1/lab1/bin/Debug/System.Diagnostics.Tools.dll
/lab1/lab1/bin/Debug/System.Diagnostics.TextWriterTraceListener.dll
/lab1/lab1/bin/Debug/System.Diagnostics.StackTrace.dll
/lab1/lab1/bin/Debug/System.Diagnostics.Process.dll
/lab1/lab1/bin/Debug/System.Diagnostics.FileVersionInfo.dll
/lab1/lab1/bin/Debug/System.Diagnostics.Debug.dll
/lab1/lab1/bin/Debug/System.Diagnostics.Contracts.dll
/lab1/lab1/bin/Debug/System.Data.Common.dll
/lab1/lab1/bin/Debug/System.Console.dll
/lab1/lab1/bin/Debug/System.ComponentModel.TypeConverter.dll
/lab1/lab1/bin/Debug/System.ComponentModel.Primitives.dll
/lab1/lab1/bin/Debug/System.ComponentModel.EventBasedAsync.dll
/lab1/lab1/bin/Debug/System.ComponentModel.dll
/lab1/lab1/bin/Debug/System.Collections.Specialized.dll
/lab1/lab1/bin/Debug/System.Collections.NonGeneric.dll
/lab1/lab1/bin/Debug/System.Collections.dll
/lab1/lab1/bin/Debug/System.Collections.Concurrent.dll
/lab1/lab1/bin/Debug/System.AppContext.dll
/lab1/lab1/bin/Debug/netstandard.dll
/lab1/lab1/bin/Debug/Microsoft.Win32.Primitives.dll
/lab1/lab1/bin/Debug/CommandLine.xml
/lab1/lab1/bin/Debug/CommandLine.dll
